body {
color: white;
font-family: "Open Sans";
font-weight: 300;
}

h1 {
font-weight: 800;
font-size: 5.1rem;
text-align: left;
padding-bottom: 7%;
}


 p{
 line-height: 1.9;
 font-size: 1.3rem;
 }




#title .container-fluid {
padding-top: 10%;
padding-bottom:15%;
}

#title {
background-color: #f1f1f1;

}


.navbar {
  padding: 2% 5% 0 0;
}



.navbar-toggler-icon {
height: 50px;
width: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(143, 133, 133)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
color: #8f8585;
}

.nav-item {
  padding: 0 18px;
}

.title-image {
  width: 40%;
  position: absolute;
  right: 8%;
  padding-left: 5%;
}


.big-heading {
padding-left: 8%;
  font-size: 7rem;
text-align: left;
  color: #104970;
  position: relative;
}

.half_background {
  background: linear-gradient(180deg, rgba(255,255,255,0) 56%, #ffbe55 40%);
}


/* ABOUT  */
#pro_interyer {
background-color: #3f3837;
 padding: 5.5% 2%;
 vertical-align: text-bottom;
}

.heading-about {
padding-left: 33.3%
}

#img-house {
width:100%;
margin-top: 10%;
}

#img-design {
width:100%;
margin-top: 100%;
}



/* OFFER */

#oferta {
background-color: #237ac5;
 padding: 5.5% 2%;
}

.img-check {
width: 6%;
height: auto;

}

.oferta-heading {
margin-left: 1%;
}


/* ul {
  list-style-image: url("../images/check.png");
}
*/

/* GALERY */

.gallery-heading {
color: #104970;
text-align: center;
}

.carousel-img{
max-width: 10%;
height: auto;
}

#aktualne {
padding: 5.5% 2%;
background-color: #f1f1f1;
text-align: center;
}

.carousel-control-prev-icon {
width: 30%;
height: 30%;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fbdcad' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
width: 30%;
height: 30%;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fbdcad' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.door-text {
color: #91a7ad;
font-size: 1.5rem;
font-weight: 100;
}

.door-image {
margin: 7% auto;
}


/* PEREVAGY */

#perevagy {
background-color: #3f3837;
 padding: 5.5% 4%;
}


.perevagy-img {
width: 20%;
height: auto;
margin-right: 4%;
}



/* CONTACT */

#contact {
background-color: #237ac5;
 padding: 5.5% 2%;
}

.contact-heading {
text-align: center;
}

#email-link {
color: white;
}

@media (max-width: 992px) {

  .title-image {
    position: static;
    width:90%;
  }


iframe {
margin-bottom: 5%;
}

h1 {
font-size: 3rem;
}





}

@media (max-width: 992px) {

 .title-image {
    position: static;
    width:90%;
  }

  #img-design {
margin-top: 5%;
}


.heading-about {
padding: 0;
text-align: center;
}

#pro_interyer {
text-align: center;
}


iframe {
margin-bottom: 5%;
}

h1 {
font-size: 3rem;
}

}

@media (max-width: 790px) {
.big-heading {
font-size: 4rem;

}




}


/* FOOTER */

footer {
background-color: #f1f1f1;
text-align: center;
padding: 1% 0;
}

#copyright {
margin: 0;
color:  #104970;
font-size: 0.9rem;
}

